<%- include('partials/header'); -%>
    <!-- NAV BAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Ecommerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Inicio
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lista de Precios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Acerca de Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Prueba Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Item1</a>
                  <a class="dropdown-item" href="#">Item 2</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Buscar">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

    <div>
        <h3>Carga Producto</h3>
        <form 
        action="/api/productos" 
        method="post" 
        enctype="multipart/form-data">

        <form>
        <div class="form-group">
            <label for="title">Nombre*</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Nombre del Producto">
        </div>
        <div class="form-group">
            <label for="price">Precio*</label>
            <input name="price" type="text" class="form-control" id="price" placeholder="Precio del Producto">
        </div>
        <div class="form-group">
            <input type="file" class="form-group-file" name="thumbail" id="file">
        </div>
          <button type="submit" class="btn btn-dark">Crear</button>
        </form>
        <br>

        <!-- No está funcionando el fetch
        <div id="contenido">
        </div>
        <script src="/scripts/fetch.js"></script> -->
        <div id="contenido">
            <% if (list.length == 0) {%>
                <h2>No hay productos.</h2>
            <% } else { %>
                <table class="table table-dark">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col"><b>Nombre</b></th>
                            <th scope="col"><b>Precio</b></th>
                            <th scope="col"><b>Imagen</b></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% list.forEach((products) => { %>
                        <tr>
                            <th scope="row"><%= products.name %></td>
                            <td><%= products.price %></td>
                            <td><img src="<%= products.image %>" width="100px;"></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            <% } %>
        </div>

        <div>
            <h2>Centro de mensajes</h2>
            <br/>
            <div id="chat">
            </div>
            <br/>
            <form onsubmit="return addMessage(this)">
                <input type="email" id="email" placeholder="email@dominio.com"/><br/>
                <input type="text" id="avatar" placeholder="imagen"/><br/>
                <input type="text" id="name" placeholder="Nombre"/><br/>
                <input type="text" id="lastname" placeholder="Nombre"/><br/>
                <input type="text" id="msn" placeholder="Ingrese su mensaje" /><br/>
                <input type="text" id="age" placeholder="Ingrese edad"/><br/>
                <input type="text" id="nickname" placeholder="Ingrese su nick"/><br/>
                <input type="submit" id="btn" value="Enviar!"/><br/>
              </form>
            <br/>
            
            <!--<script src="../server/socketio.js"></script>-->
            <div id="compresiondiv"></div>

        </div>
    </div>
<%- include('partials/footer'); -%>